---
layout: default
title: Android
permalink: /Android/
---

<div class="container">
    <div class="row">
    <div class="col m9 s12">
        <h2>Category: Android</h2>
        <div id="coll" class="collection">   
          {% for post in site.categories.Android %}
          <a class='collection-item' href="{{ post.url }}" target=_blank >{{ post.title }}
              <span class='badge'>
              {% for tag in post.tags %}
              {{ tag }}
              {% endfor %}
              </span>
           </a>
           {% endfor %}      
        </div>
    </div>
    </div>
</div>
