<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include nav.html %}
    <div class="container">
    <div class="row">
      <div class="col m9 s12">
        {{ content }}
        <div class="hide-on-med-and-up">
        <h3>Tags</h3>
        {% for tag in page.tags %}
        <a href="/tags/{{ tag }}"><div class="chip">{{ tag }}</div></a>
        {% endfor %}
        </div>
        {% include comments.html %}
      </div>
      <div class="col m3 hide-on-med-and-down">
        <h2>Time</h2>
        <div class="chip">2016/04</div>
        <h2>Tags</h2>
        {% for tag in page.tags %}
        <a href="/tags/{{ tag }}"><div class="chip">{{ tag }}</div></a>
        {% endfor %}
      </div>
    </div>
    </div>
  </body>

    {% include scripts.html %}

</html>
